@font-face {
  font-family: "iconfont"; /* Project id 3519014 */
  src: url('iconfont.woff2?t=1657687782669') format('woff2'),
       url('iconfont.woff?t=1657687782669') format('woff'),
       url('iconfont.ttf?t=1657687782669') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanku123:before {
  content: "\e605";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

.icon-behance:before {
  content: "\e609";
}

