screen-tablet = 769px
screen-desktop = 1088px
screen-widescreen = 1280px
screen-fullhd = 1472px
screen-onek = 1700px
primary-color = #fafafa
primary-color-hover = #71a1e0
primary-color-active = #4382d6
primary-color-light = rgba(93, 147, 219, 0.8)
link-color = rgb(68,155,255)

@media screen and (min-width: screen-onek)
    .container
        max-width: 1600px
        width: 1600px
        .column.is-3-widescreen
            width: 22%
        .column.is-6-widescreen
            width: 56%