@media screen and (min-width: 1600px), print {
    .column.is-4, .column.is-4-tablet, .is-4-desktop, .is-4-widescreen {
        width: 25%    
        max-width: 25rem;
    }

    .column.is-8, .column.is-8-tablet, .is-8-desktop, .is-8-widescreen {
        width: 75%;
    }
}

// 左侧栏重新设置一下大小
.article {
    margin-right: 16px;
    margin-left: 16px;
    .content a img {
        margin: auto;
        display: block;
    }
}